<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Profile Page</title>
        {{> header}}
  </head>
  <body>

    <p>{{screamIt name}}</p>
    <p>You are a mediocre {{designation}}</p>
    {{> footer}}
  </body>
</html>
